

.image-thumbnail {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .login--wrapper {
      display: flex;
      height: 50vh;
      align-items: start;
      justify-content: center;
  }
  
  .form--login_register {
    width: 400px;
  }